body{
    background-color: rgb(88, 209, 227);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 130px;
}
.container-fluid{
    border: 2px solid balck;
    max-width: 300px;
    margin: auto;
    background: #fff;
    padding: 80px;
}